<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletProva</servlet-name>
        <servlet-class>ServletProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Thread</servlet-name>
        <servlet-class>thread.Thread</servlet-class>
        <!--load-on-startup>1</load-on-startup-->
    </servlet>
    <error-page>
        <location>/errore.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ServletProva</servlet-name>
        <url-pattern>/ServletProva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Thread</servlet-name>
        <url-pattern>/Thread</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
